<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<h2 style="background-color:#D8BFD8;color:Black;"> LOGIN </h2>
<!--<h2 style="color:purple">LOGIN</h2>-->
<body style="background-color:#D8BFD8">
<form action="login" method="post">
    {% csrf_token %}

     <input type="text" name="username" placeholder="Username"><br>
    <input type="password" name="password" placeholder="Enter Your password"><br>
    <input type ="submit">


</form>
</body>
</html>